    @import "tailwindcss";

    /* Custom styles atau override theme bisa disini */
    @theme {
      --font-sans: "Inter", sans-serif;
    }

    /* Reset dasar Next.js (opsional tapi bagus) */
    body {
      font-family: var(--font-sans);
    }